.section {
  padding: 75px;
}

.dark-section {
  background-color: #030303;
}

.container {
  margin: 0 auto;
  width: 1440px;
}
/* -------- header start --------- */

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.header__nav {
  max-width: 720px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 60px;
  font-family: "Roboto";
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 100;
}
.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

/* --------- header end ------- */

/* --------- welcome start ------- */
.welcome h1 {
  position: absolute;
  color: #fff;
  font-size: 80px;
  line-height: 90px;
  top: 310px;
  z-index: 2;
  font-family: "Forum", cursive;
  letter-spacing: 5px;
}

.welcome h1 span {
  display: block;
}

.welcome p {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 510px;
  font-weight: 300;
  font-family: "Roboto";
  font-size: 28px;
  letter-spacing: 2px;
}
.welcome__pic {
  position: relative;
  z-index: 1;
  top: -90px;
}

.welcome__button {
  padding-left: 64px;
  padding-right: 64px;
  border: 0;
  background: #710707;
  color: #fff;
  font-size: 22px;
  position: absolute;
  top: 610px;
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 2px;
  width: 365px;
  height: 75px;
  cursor: pointer;
}

.welcome__button:hover {
  background: #9d8665;
}

.welcome__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --------- welcome end ------- */

/* --------- visiting start ------- */

.visiting__title {
  font-family: "Forum";
  font-weight: 400;
  font-size: 80px;
  letter-spacing: 5px;
  line-height: 90px;
  color: #9d8665;
  position: relative;
  padding-bottom: 28px;
  margin-top: 75px;
}

.visiting__title::after {
  display: block;
  content: "";
  width: 1440px;
  height: 3px;
  background-color: #710707;
  position: absolute;
  bottom: 0;
  left: 0;
}

.visiting__cards {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.visiting__card {
  flex: 1 1 auto;
  margin-top: 55px;
}

.visiting__card-description {
  font-family: "Forum";
  font-size: 32px;
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 400;
  letter-spacing: 5px;
  padding-top: 10px;
}

.visiting__card-description::after {
  display: block;
  content: "";
  width: 300px;
  height: 2px;
  background-color: #710707;
  position: absolute;
  bottom: 0;
  left: 0;
}

.visiting__card-description-google {
  font-family: "Roboto";
  font-weight: 100;
  padding-top: 10px;
  font-size: 22px;
}
/* --------- visiting end ------- */

/* --------- explore start -------*/

.explore__title {
  font-family: "Forum";
  font-weight: 400;
  font-size: 80px;
  letter-spacing: 5px;
  color: #fff;
  position: relative;
  padding-bottom: 30px;
}

.explore__title::after {
  display: block;
  content: "";
  width: 660px;
  height: 3px;
  background-color: #710707;
  position: absolute;
  bottom: 0;
  left: 0;
}

.explore__description {
  padding-top: 80px;
  color: #fff;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 300;
  line-height: 39px;
}

.explore__wrapper {
  display: flex;
}

.explore__wrapper-second {
  position: relative;
}

.explore__pic-one {
  position: relative;
  z-index: 3;
  margin-left: 60px;
}

.explore__pic-two {
  position: absolute;
  bottom: 0;
  left: 65px;
  z-index: 1;
}

.explore__slider {
  position: absolute;
  bottom: 0;
  right: -17px;
  z-index: 3;
}
.explore__transfer {
  display: block;
}
.explore__transfer span {
  color: #caaa7d;
}
/* --------- explore end ----------*/

/* ---------- video start ---------- */

.video__title {
  font-family: "Forum";
  font-weight: 400;
  font-size: 80px;
  letter-spacing: 5px;
  color: #9d8665;
}

.video__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video__description {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
  line-height: 39px;
}
.video__description-about {
  display: block;
}

.video__img {
  position: relative;
  margin-top: 60px;
  z-index: 1;
}

.video__img-pic {
  position: relative;
  z-index: 1;
}

.video__img-play {
  position: absolute;
  z-index: 2;
  left: 40%;
  bottom: 35%;
}

.video__img-info {
  margin-top: 0;
}

.video__img-info {
  position: relative;
  z-index: 1;
}

.video__bar {
  position: relative;
}

.video__bar-play {
  position: absolute;
  top: -55px;
  left: 3%;
  z-index: 2;
}

.video__bar-prog {
  position: absolute;
  top: -48px;
  left: 7%;
  z-index: 2;
}

.video__bar-vol {
  position: absolute;
  top: -55px;
  right: 22%;
  z-index: 2;
}

.video__bar-frame {
  position: absolute;
  top: -48px;
  right: 8%;
  z-index: 2;
}

.video__bar-info {
  position: absolute;
  top: -57px;
  right: 2%;
  z-index: 2;
}

.video__talk {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---------- video end ------------*/

/* ---------- gallery start ------------*/

.gallery__title {
  font-family: "Forum";
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  color: #fff;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.gallery__card:first-child {
  padding-top: 50px;
}

.gallery__card:nth-child(3) {
  padding-top: 50px;
}

.gallery__card:nth-child(5) {
  margin-top: -155px;
}

.gallery__card:nth-child(8) {
  margin-top: -145px;
}

.gallery__card:nth-child(9) {
  margin-top: -100px;
}

.gallery__card:nth-child(11) {
  margin-top: -25px;
}

.gallery__card:nth-child(12) {
  margin-top: -90px;
}

/* ---------- gallery end --------------*/

/* ---------- tickets start ------------ */

.tickets__title {
  font-family: "Forum";
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  color: #9d8665;
  position: relative;
  padding-bottom: 30px;
}

.tickets__title::after {
  display: block;
  content: "";
  width: 1440px;
  height: 3px;
  background-color: #710707;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tickets__wrapper {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.ticket__variation-li {
  color: #000;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  padding-bottom: 30px;
}

.tickets__calc-about {
  color: #000;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 25px;
  padding-left: 50px;
}

.ticket__variation-ul {
  list-style: circle;
  position: absolute;
  left: 16%;
}

.tickets__variation {
  position: absolute;
  right: 36%;
  white-space: nowrap;
}

.tickets__li {
  padding-bottom: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
}

.tickets__calc-prog {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 3px solid #000;
  margin-bottom: 10px;
}

.tickets__calc-minus {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 32px;
}

.tickets__calc-numb {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
}

.tickets__calc-plus {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 32px;
}

.tickets__calc-title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 15px;
}

.tickets__container {
  position: relative;
}

.tickets__price p {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1.65px;
  position: absolute;
  right: 0;
  bottom: 40%;
}

.tickets__buy {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 300;
  align-items: center;
  letter-spacing: 2px;
  position: absolute;
  right: 0;
  bottom: 25%;
  color: #fff;
  background-color: #000;
  width: 175px;
  height: 50px;
  border: 0;
}

.tickets__parallax {
  background: url("../assets/img/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
}

/* ---------- tickets end --------------*/

/* ----------- contacts start --------------*/

.contacts__title {
  color: #9d8665;
  font-family: "Forum";
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  position: relative;
  padding-bottom: 30px;
}

.contacts__title::after {
  display: block;
  content: "";
  width: 1440px;
  height: 3px;
  background-color: #710707;
  position: absolute;
  bottom: 0;
  left: 0;
}

.contacts__info-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 28px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts__info-title span {
  display: block;
}

.contacts__info-about {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 25px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__map {
  padding-top: 50px;
}

/* -------------- contacts end --------------*/

.footer__wrapper {
  position: relative;
}

.footer__about1 {
  position: absolute;
  top: 0;
  left: 25%;
}

.footer__about2 {
  position: absolute;
  top: 0;
  left: 45%;
}

.footer__about1 li {
  font-family: "Roboto";
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 200;
  color: #fff;
  padding-bottom: 23px;
}

.footer__about2 li {
  font-family: "Roboto";
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 200;
  color: #fff;
  padding-bottom: 23px;
}

.footer__social {
  position: relative;
}

.footer__social-yt {
  position: absolute;
  margin-left: 20px;
  left: 75%;
}

.footer__social-ist {
  position: absolute;
  margin-left: 20px;
  left: 80%;
}

.footer__social-fb {
  position: absolute;
  margin-left: 20px;
  left: 85%;
}

.footer__social-tw {
  position: absolute;
  margin-left: 20px;
  left: 90%;
}

.footer__social-pt {
  position: absolute;
  margin-left: 20px;
  left: 95%;
}

.footer__line {
  margin-top: 120px;
  position: relative;
}

.footer__line::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #666666;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts-about {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #fff;
  margin-top: 50px;
}
